@charset "utf-8";


* {
	text-decoration: none !important;
}

/* CSS Document */
body {
	padding: 0px;
	margin: 0px;
}

#cover {
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 5;
	background: rgba(51, 51, 51, 0.4);
	top: 0px;
	left: 0px;
	overflow: auto;
}

#coverr {
	width: 70%;
	min-width: 300px;
	max-width: 800px;
	height: 70%;
	min-height: 300px;
	position: absolute;
	z-index: 5;
	background: #ffffff;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	margin: auto;
	overflow: auto;
}

#main {
	width: 1024px;
	height: 768px;
	margin: 10px auto 10px auto;
	border: #EE7728 1px solid;
	position: relative;
}

.ti {
	width: 100%;
	height: 100px;
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
}

.dbor {
	border: #EE7728 double 3px;
	margin: 1px;
	padding: 2px 10px 2px 10px;
}

.t {
	font-weight: 800;
	display: block;
	text-align: center;
	padding: 10px 1px 10px 1px;
}

.botli {
	border-bottom: #333 1px solid;
}

.mainmu {
	position: relative;
	border-radius: 10px;
	background: url(../icon/menu.fw.png) center no-repeat;
	background-size: cover;
	line-height: 30px;
	padding: 2px 10px 2px 10px;
	margin: 7px 1px 7px 1px;
}

.mainmu:hover {
	background: url(../icon/menu2.fw.png) center no-repeat;
	background-size: cover;
}

.mainmu2 {
	position: relative;
	border-radius: 10px;
	background: url(../icon/menu3.fw.png)center no-repeat;
	background-size: 100% 100%;
	line-height: 30px;
	padding: 2px 10px 2px 10px;
	margin: 7px 1px 7px 1px;
}

.mainmu2:hover {
	background: url(../icon/menu4.fw.png) center no-repeat;
	background-size: cover;
}

#lf {
	height: 540px;
	width: 21%;
	display: inline-block;
}

#menuput {
	width: 100%;
	height: 75%;
	position: relative;
	padding: 5px;
	display: block;
	margin: 3px;
}

.di {
	display: inline-block;
}

.ad {
	margin: 1px;
	padding: 2px 10px 2px 10px;
}

.cent {
	text-align: center;
}

input,
button {
	border: #999 1px solid;
	border-radius: 3px;
	background: #EFEFEF;
	padding: 5px;
	margin: 3px;
}

input:active,
button:active {
	background: #E6E6E6;
}

/* 
input[type=text],
input[type=password] {
	width: 150px;
} */

input:focus,
button:focus {
	box-shadow: #09C 0px 0px 3px .3px;
}

.yel td {
	background: #F3DA49;
	text-align: center;
}

.trce td {
	text-align: center;
}

.bl {
	color: #0CF;
	cursor: pointer;
	text-decoration: none;
}

.img1 {
	width: 150px;
	height: 103px;
	border: 3px solid orange;
}

.mw {
	display: none;
	position: absolute;
	left: 170px;
	top: 0px;
	z-index: 99;
	width: 100px;
	height: 50px;

}

/* =========================== new */
.text-r {
	text-align: right;
}

.bottom-w {
	width: 240px;
}

.bg-red {
	background-color: red;

}

.bg-green {
	background-color: greenyellow;
}

.bg-yellow {
	background-color: rgb(255, 255, 185);
	min-height: calc(100vh - 276px);
}

.bg-yellow1 {
	background-color: rgb(255, 255, 185);
	/* min-height: calc(100vh - 276px); */
}

.bg-yellow2 {
	/* background-color: rgb(255, 255, 185); */
	min-height: calc(100vh - 276px);
}

#container {
	/* position: relative; */
	/* width: 1340px; */
	min-height: calc(100vh - 276px);
	padding-top: 25px;
	/* margin: 0 auto; */
	/* background-color: aqua; */
}

.items {
	height: 75px;
	width: 307px;
	border-radius: 10%;
	/* background-color: antiquewhite; */
}

.items-back {
	height: 50px;
	width: 200px;
	border-radius: 10%;
	/* background-color: antiquewhite; */
}


.title {
	font-weight: bold;
}

.logo {
	width: 44px;
	height: 44px;
}

.key-color-bg {
	background-color: #889DE3 !important;
}

.menu {
	border: 1px solid #eaeaea;
	padding: 20px 0 50px;
	border-top: 0;
}

.btn-login {
	min-width: 82px;
	margin: 16px 20px;
	float: right;
	border-radius: 96px;
	border: 1px solid #fff;
	color: #fff;
	font-size: 14px;
	line-height: 20px;
	height: 34px;
	padding: 0 15px;
}

.btn-login:hover {
	background-color: white !important;
	color: #889DE3;
}

#header {
	height: 243px;
	background-position: center bottom;
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-image: url(../icon/BAShesideOutside신규포럼헤더1920x243TW.png);
}

.del-underline {
	text-decoration: none;
}

/* ===========================文字螢光底線============================= */
/* 文字樣式 */
.highlight-hover {
	display: inline-block;
	position: relative;
}

/* 默認狀態下沒有下劃線 */
.highlight-hover::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 8px;
	/* 螢光筆的粗度 */
	background-color: rgba(0, 208, 255, 0.8);
	/* 螢光筆顏色，這裡選用螢光黃 */
	transition: width 0.3s ease, left 0.3s ease;
	z-index: -100;
}

/* 滑鼠游標進入時，橫條從中間延伸出來 */
.highlight-hover:hover::after {
	width: 100%;
	left: 0;
}

/* ==================================== */
/* main front */
#altt {
	position: absolute;
	width: 350px;
	min-height: 100px;
	background-color: rgb(255, 255, 204);
	top: 460px;
	left: 640px;
	z-index: 999;
	display: none;
	padding: 5px;
	border: 3px double rgb(255, 153, 0);
	background-position: initial initial;
	background-repeat: initial initial;
}

.type-list>li:last-child {
	border-bottom: 1px solid #c3c3c3;
	color: black;
}

.type-list>li {
	padding: 12px 0 12px 10px;
	border-bottom: 1px solid #eaeaea;
	box-sizing: border-box;

}

/* introduction */

.int-logo {
	/* width: 720px;
	height: 960px; */
	transition: 0.3s;
}

.int-logo:hover {
	transform: scale(1.15);
}

/* 

.int .int-logo:last-of-type {
	border-bottom: 1px solid #c3c3c3;
}

.int-logo {
	padding: 12px 0 12px 10px;
	border-bottom: 1px solid #eaeaea;
	box-sizing: border-box;
} */
.int-name {
	align-items: center;
	justify-content: center;
}

/* introduction */
.type-list>li:hover {
	background-color: #dbdbdb44;
}

.inner {
	margin-bottom: 50px;
}


.event-banner-box .inner {
	margin-bottom: 40px;
}

.event-banner-box li {
	overflow: hidden;
	float: left;
	width: 490px;
	height: 118px;
	margin-bottom: 10px;
	border-radius: 4px;
}

.event-banner-box ul {
	display: flex;
	gap: 10px;
	/* 設定圖片之間的間距 */
}

/* main front end */
/* footer */
#footer {
	padding: 20px 30px;
	font-size: 12px;
	background-color: #222426;
	text-align: center;
	box-sizing: border-box;
}

#footer .footer-link {
	position: relative;
	z-index: 100;
	margin-bottom: 18px;

}

#footer .footer-link a:not(:last-child) {
	position: relative;
	padding-right: 10px;
}

#footer .footer-content {
	margin-top: 20px;
	line-height: normal;
}

#footer .footer-content .logo-nexon {
	width: 73px;
	height: 26px;
	margin: 0 9px;
	object-fit: contain;
}

#footer .footer-link a {
	color: #f8f9fa;
	opacity: 0.7;
	text-decoration: none;
}

#footer .footer-link a:nth-child(2) {
	font-weight: bold;
}

#footer .footer-content .copyright {
	display: inline-block;
	vertical-align: top;
	height: 15px;
	font-size: 11px;
	color: #626465;
	text-align: left;
	margin-top: 1px;
}

/* footer end */


/* =========================右下回到頂端箭頭=========================== */
#back-to-top {
	position: fixed;
	bottom: 20px;
	right: 20px;
	background-color: #007bff;
	color: white;
	padding: 10px 15px;
	border-radius: 5px;
	text-align: center;
	text-decoration: none;
	font-size: 14px !important;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	opacity: 0;
	/* 初始透明 */
	visibility: hidden;
	/* 初始不可見 */
	transform: translateY(50px);
	/* 初始位置往下移 */
	transition: opacity 0.3s, transform 0.3s, visibility 0.3s;
	/* 過渡效果 */
}

#back-to-top:hover {
	background-color: #0056b3;
}

/* =========================右下回到頂端箭頭 end =========================== */


@media only screen and (max-width: 700px) {
	.items {
		height: auto;
		width: 90px;
		border-radius: 10%;
		/* background-color: antiquewhite; */
		position: relative;
		top: 0;
		left: -29px;
	}
}